@import url("../../var.css");
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  color: var(--dark-text-color);
  width: 80px;
  height: 60px;
  background-color: transparent;
  font-size: 16px;
  border: 0.3px solid var(--check-box-color);
  cursor: pointer;
  box-sizing: border-box;
}
.card.selected {
  background-color: var(--button-grey-color);
  color: var(--light-text-color);
  border-color: var(--check-box-color);
}
/* @media screen and (max-width: 390px) {
  .card {
    height: 150px;
    padding: 0.8rem;
  }
  .card h4 {
    font-size: 0.8rem;
  }
  .card p {
    font-size: 0.4rem;
  }
  .card img {
    height: 50px;
  }
} */
