@import url("../../var.css");

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 0px;
  padding: 5px;
  border: 1px solid var(--border-line);
  color: var(--light-text-color);
  cursor: pointer;
  background-color: transparent;
  position: relative;
}
.btn svg {
  width: 20px;
  height: 18px;
}
.basketContent p {
  position: absolute;
  top: 15px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--button-red-color);
  color: var(--light-bg-color);
  font-size: 12px;
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .btn {
    font-size: 10px;
  }
  .container {
    justify-content: end;
  }
}
