@import url("../../var.css");
.fullwidth {
  position: relative;
  width: 100%;
  min-height: 300px;
  padding: 20px;
}
.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.block1,
.block2,
.block3 {
  width: 80%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-radius-grey);
  margin-bottom: 20px;
}
.block1 h2 {
  color: var(--dark-text-color);
}
.block1 p {
  color: var(--middle-text-color);
}
.block2 h3 {
  color: var(--dark-text-color);
}
.slider {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--light-bg-color);
}

.slide {
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}
.controls_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.pages {
  display: flex;
  width: 100px;
  height: 60px;
  border: 0px;
  font-family: "Intro Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  color: var(--middle-text-color);
}
.textarea {
  margin: 20px 0;
  color: var(--middle-text-color);
  min-height: 200px;
  border: 1px solid var(--light-bg-color);
}
