@import url("../../var.css");

.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 60%;
  border-radius: 5px;
  background-color: var(--check-box-color);
}
.mainBlock {
  width: 100%;
  padding: 20px;
  gap: 20px;
}
.mainBlock input {
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.mainBlock h2,
.mainBlock p {
  color: var(--light-text-color);
}
.name,
.email {
  font-family: "Intro Bold";
  font-size: 10px;
  color: var(--check-box-color);
  border: 1px solid transparent;
  padding: 0 5px;
}
@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
  .mainBlock h2 {
    font-size: 24px;
  }
  .mainBlock p {
    font-size: 16px;
  }
}
