@import url("../../var.css");

.fullwidth {
  position: relative;
  width: 100%;
  padding: 20px;
}

.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}
.container h1 {
  width: 100%;
  color: var(--dark-text-color);
}
.titleBlock {
  width: 100%;
  text-align: left;
  margin: 20px 0;
}
.mainBlock {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  gap: 10px;
}
.block1 {
  width: 40%;
}
.block2 {
  width: 60%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  object-fit: cover;
  gap: 20px;
}
.img img {
  width: 100%;
  height: 150px;
}
@media screen and (max-width: 900px) {
  .mainBlock {
    flex-direction: column;
    align-items: center;
  }

  .block1,
  .block2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .content {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .block1,
  .block2 {
    width: 80%;
  }

  .content {
    width: 120%;
  }
}
@media screen and (max-width: 450px) {
  .img {
    grid-template-columns: repeat(2, 1fr);
  }
}
