@import url("../../var.css");

.content {
  width: 100%;
  margin: auto;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
  padding: 40px;
  gap: 20px;
  background-color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.card1,
.card2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  text-align: left;
}
.card1Block1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-radius-grey);
}
