@import url("../../var.css");
.fullwidth {
  width: 30%;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  padding-top: 20px;
  background-color: var(--light-bg-color);
  border-radius: 2px;
}
.container h3 {
  width: 100%;
  color: var(--dark-text-color);
}

.mainBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px;
  text-align: left;
  gap: 20px;
  align-items: center;
}
.container_block1 {
  display: flex;
}
.container_block2 {
  display: none;
}

.sizegrid {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.sizegrid p {
  margin: 0;
  text-align: left;
  width: 100%;
}

.gender div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titleBlock {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
  }
  .mainBlock h3 {
    font-size: 20px;
  }
  .container_block1 {
    display: none;
  }
  .container_block2 {
    display: flex;
    flex-direction: column;
  }
  .fullwidth {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .gender div {
    flex-direction: row;
  }
}
