@import url("../../var.css");
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 350px;
  padding: 0 10px;
  gap: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}
.image {
  position: relative;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  border-radius: 2px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease;
  transform: scaleX(-1);
}
.image:hover img {
  opacity: 0.3;
}
.card h3 {
  color: var(--dark-text-color);
  text-align: left;
  font-size: 16px;
}
.card p {
  color: var(--dark-text-color);
  text-align: left;
  font-size: 20px;
}
.image:hover {
  border-radius: 2px;
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 1rem;
  /* border: 1px solid red; */
}

.image,
.card p,
.card h4 {
  background-color: transparent; /* Убираем фон у дочерних элементов */
}

.buttons {
  position: absolute;
  top: 50%; /* Центрируем по высоте */
  left: 50%; /* Центрируем по ширине */
  transform: translate(-50%, -50%); /* Сдвигаем, чтобы центр совпадал */
  display: flex;
  gap: 20px; /* Расстояние между кнопками */
  opacity: 0; /* Кнопки скрыты по умолчанию */
  transition: opacity 0.3s ease; /* Анимация появления */
}

.image:hover .buttons {
  opacity: 1; /* Показываем кнопки при наведении */
}

.link,
.addToCart {
  background-color: var(--button-grey-color); /* Серый цвет */
  color: white;
  border: none;
  border-radius: 50%; /* Кнопки круглые */
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover,
.addToCart:hover {
  background-color: var(--button-greyHover-color); /* Темнее при наведении */
}

/* @media screen and (max-width: 390px) {
  .card {
    height: 150px;
    padding: 0.8rem;
  }
  .card h4 {
    font-size: 0.8rem;
  }
  .card p {
    font-size: 0.4rem;
  }
  .card img {
    height: 50px;
  }
} */
