@import url("../../var.css");
.fullwidth {
  position: relative;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
}
.mainBlock {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .mainBlock {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .mainBlock {
    grid-template-columns: repeat(3, 1fr);
  }
}
