@import url("../../var.css");
.fullwidth {
  position: relative;
  width: 100%;
  background-color: var(--dark-bg-color);
  padding: 20px;
}
.bgImage svg {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 80%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  display: flex;
  margin: 100px auto;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}
.container h1,
.container p {
  width: 100%;
  color: var(--light-text-color);
}

.mainBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  gap: 40px;
}

@media screen and (max-width: 1200px) {
  .bgImage svg {
    width: 80%;
  }
  .mainBlock {
    width: 50%;
  }
}
@media screen and (max-width: 900px) {
  .mainBlock {
    width: 80%;
    gap: 20px;
  }
  .container {
    margin: 40px auto;
  }
  .container h1 {
    font-size: 24px;
  }
  .container p {
    font-size: 12px;
  }
  .bgImage svg {
    width: 60%;
    top: 20px;
    right: 20px;
  }
}
@media screen and (max-width: 700px) {
  .mainBlock {
    width: 80%;
    gap: 10px;
  }
  .container {
    margin: 20px auto;
  }
  .container h1 {
    font-size: 18px;
    line-height: 20px;
  }
  .container p {
    line-height: 14px;
  }
}
