@import url("../../var.css");
.fullwidth {
  width: 100%;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  padding-top: 20px;
  border-radius: 2px;
}
.container h3 {
  width: 100%;
  font-weight: 700;
  font-family: "Intro Bold";
  font-size: 30px;
  color: var(--dark-text-color);
}

.mainBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px;
  text-align: left;
  gap: 60px;
}
.contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.department {
  font-size: 14px;
  font-family: "Intro Book";
  font-weight: 400;
  color: var(--middle-text-color);
}
.number {
  font-size: 30px;
  font-family: "Intro Regular";
  font-weight: 400;
  color: var(--dark-text-color);
}
.address {
  font-size: 18px;
  font-family: "Intro Book";
  font-weight: 400;
  color: var(--dark-text-color);
}
.social {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.icons {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #0e5a4c;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
}
