@import url("../../var.css");
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 350px;
  padding: 0 10px;
  gap: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}
.image {
  position: relative;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  border-radius: 2px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease;
  transform: scaleX(-1);
}
.image:hover img {
  opacity: 0.3;
}
.card h3 {
  color: var(--dark-text-color);
  text-align: left;
  font-size: 16px;
}
.card p {
  color: var(--dark-text-color);
  text-align: left;
  font-size: 20px;
}
.image:hover {
  border-radius: 2px;
  background-color: rgba(240, 240, 240, 0.5);
  border-radius: 1rem;
}

.image,
.card p,
.card h4 {
  background-color: transparent;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image:hover .buttons {
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .card {
    padding: 0 0;
  }
  .block2 p {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .block2 p {
    font-size: 10px;
  }
}
